@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Onest:wght@200&family=Open+Sans:ital,wght@0,400;0,700;1,700&family=Pixelify+Sans:wght@400;500;600&family=Quicksand:wght@500&display=swap');
@font-face {
    font-family: "reey";
    src: url("fonts/Reey-Regular.ttf.woff");
}

html{
    font-size: 10px;
    overflow-x: hidden;
}
h1{
    font-family: "reey";
    font-size: 9rem;
    color:white;
    margin-bottom:10%;
}
h2{
    color:white;
    font-size: 3rem;
}

img{
    width: 50px;
}
nav{
    height: 20vh;
}
a{
    text-decoration: none;
}
ul{
    margin-right: 0;
    margin-left:auto;
    display:block;
    width: fit-content;
    padding-top:5vh;
    padding-bottom: 5vh;
}
ul>li{
    margin-left: auto;
    margin-right:0;
    display: inline-block;
    /* width:auto; */
    padding-left:15px;
    padding-right: 15px;
}
ul>li>a{
    font-size:2rem;
    color:white;
    font-family: 'opensans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.5rem;

}
#s1{
    display: inline-block;
    height: 100%;
    width: 100%;
}
#s1Corps{
    width: 100%;
    letter-spacing: -0.31rem;
    height: 80vh;
}
#s1Left{
    width:50%;
    display: inline-block;
    letter-spacing: normal;
    position:static;
    height: 100%;
    margin-bottom: 30%;
    /* padding-le
    
    0.ft: 10%; */
    
}
#mamanS1LeftEstRelou{
    height: 90%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.linkButton{
    margin-left: 20%;
    padding:0;
    font-size:2.8rem;
    color:#27292c;
    background-color: white;
    display: block;
    width: fit-content;
    padding:2rem;
    border-radius: 90px;
    font-family: 'Open Sans', sans-serif,bold;

}
#s1Left>#mamanS1LeftEstRelou>img{
    padding-left: 0;
    margin-left: 15%;
    margin-bottom: 3rem;
}
#s1Left>#mamanS1LeftEstRelou>*{
    margin-left: 15%;
}
#s1Left>#mamanS1LeftEstRelou>p{
    font-size: 2.3rem;
    color:white;
}
#s1Right{
    width:50%;
    display: inline-block;
    letter-spacing: normal;
    position: relative;
    
    
}
body{
    background-color: aqua;
}
body{
    margin:0;
}
header{
    background-image: url(img/header-background.png);
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
}
#patopesto{
    width: 65%;
    
    position:absolute;
    
    top:-200px;
    left:300px;
    
}
#sauce{
    width:25%;
    position: absolute;
    top:280px;
    left:190px;
}
#searchBar{
    height: 4vh;
    display: block;
    margin: auto;
    border-radius:20px;
}

#basilik1{
    position: absolute;
    width:65%;
    left:100%;
    transform: translate(-88%,0);
    top:260px;
    right:250px;
}
#chiefHat{
    border-left:15%;
    border-radius: 50%;
    background-color: white;
    width:15%;
}
.searchBarDiv{
    height: 100%;
    position: relative;
}
#searchButton{
    height: 80%;
    cursor:pointer;
    z-index: 99;
    position:absolute;
    top:50%;
    left:100%;
    transform: translate(-100%,-50%)
    
    
}
#searchButton:hover{
    background-color: none;
    
}
#s2{
    height: 150vh;
    background-color: white;
}
.linkButtonBlack{
    margin-left: 20%;
    padding:0;
    font-size:2.8rem;
    color:white;
    background-color: black;
    display: block;
    width: fit-content;
    padding:2rem;
    border-radius: 90px;
    font-family: 'Open Sans', sans-serif,bold;

}